.header-main{
    display: flex;
    flex-direction: column;  
    border: 1px solid rgb(216, 207, 207);
}

.form-title{
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}

.form-categories{
    /* border: 1px solid black; */
}

.form-categories{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size:medium;
    font-weight: 550;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.main-title-input{
    border: none;
    font-size: large;
    padding: .3rem
}

.link{
    text-decoration: none;
    color: black;
}

.questions-main{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    background-color: rgb(240,235,248);
    height: 100%;
}
.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240,235,248);
    height: 100%;
}

.questions-header{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 45rem;
    margin-top: 1rem;
    border: 1px solid black;
    border-top: .8rem rgb(103,58,183) solid;
    border-left: .6rem rgb(66,133,244) solid;
    border-radius: .6rem;
    background-color: white;
}

.saved-question{
    width: 45rem;
    margin-top: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
    border-radius: .6rem;
}

.input-title{
    height: 4rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid rgb(206, 203, 203);
}

.input-description{
    border: none;
    border-bottom: 1px solid rgb(206, 203, 203);
}

.question-main{
    width: 45rem;
    border: 1px solid black;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    background-color: white;
    border-left: .6rem rgb(66,133,244) solid;
    border-radius: .6rem;
}

.question-and-type{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    padding: .5rem;
}

.question-title{
    height: 3rem;
    width: 24rem;
    border: none;
    border-bottom: 1px solid rgb(196, 191, 191);
    font-size: large;
}

.options{
    display: flex;
    flex-direction: column;
    padding: .8rem;
    font-size: .9rem;
}

.option{
    border: none;
    border-bottom: 1px solid rgb(196, 191, 191);
    width: 80%;
    margin-bottom: 1.5rem;
    
}

.add-option{
    border: none;
    margin-top: 1rem;
    border-bottom: 1px solid black;
}

.add-other{
    border: none;
    color: rgb(56,170,248);
}

.svg{
    width: 20px;
}

.icons{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    gap: 2rem;
}

.required-toggle{
    width: 2.5rem;
    height: .5rem;
    background-color: black;
}

.circle{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 1rem;
    background-color: aqua;
}

.questions-functionality{
    display: flex;
    /* border: 1px solid black; */
}

.side-functions{
    /* border: 1px solid black; */
    justify-content: flex-start;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2rem;
}

.add-functionality{
    width: 2rem;
    height: 10rem;
    border: 1px solid black;
    padding: .2rem;
    margin-left: 1rem;
    border-radius: .5rem;
    position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.option-input{
    border: none;
}