

.dashboard-main{
    display: flex;
    flex-direction: column;
  }
  
  .nav{
    border: 1px solid rgb(243, 233, 233);
  }
  
  .forms-main-box{
    display: flex;
    background-color: rgb(241,243,244);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    justify-content: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .forms-inner-box{
    display: flex;
    flex-direction: column;
    /* margin: 0 5rem 0 5rem; */
    /* border: 1px solid black; */
    width: 10rem;
    padding: 1rem;
   
  }

  .modal-main{
    background-color: rgb(241,243,244);
  }

  .all-forms{
    display: flex;
    /* border: 1px solid black; */
    gap: 2rem;
    flex-wrap: wrap;
  }

  .question-ui{
    border: 1px solid black;
    margin: 1rem 0 1rem 0;
    background-color: white;
    padding: 1rem;
  }

  .each-form{
    width: 8rem;
    height: 8rem;
    padding: 2rem;
    margin-top: 3.5rem;
    border: 1px solid black;
    border-radius: .5rem;
    background-color: aquamarine;
    cursor: pointer;
  }

  
  .forms{
    display: flex;
  }
  
  .new-form-title{
    margin-bottom: 1rem;
  }
  
  .new-form{
    width: 8rem;
    height: 8rem;
    border: 1px solid black;
    border-radius: .5rem;
    padding: 2rem;
    cursor: pointer;
    background-color: white;
  }
  
  .plus{
    width: 4rem;
    height: 4rem;
  }